<!-- list data request money -->
<div *ngIf="transacLoading$ | async">
    Loading transactions...
</div>
<div *ngIf="transacError$ | async as error">
    {{ error }}
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3" *ngFor="let item of (latestTransaction$ | async)">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img [src]="item.eventImage ? item.imageUrl : 'assets/favicon.png' " alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="text-color-theme mb-0">{{ item.eventTitle }}</p>
                        <p class="text-muted size-12">{{item.customerName}}</p>
                    </div>
                    <div class="col-auto align-self-center text-end">
                        <p class="mb-0">{{item.rate}}
                            <a [routerLink]="['/viewtransaction', item.id]"><i class="bi bi-eye text-danger"></i></a>
                        </p>
                        <p class="text-muted size-12">{{item.createDate}}</p>
                        <!-- <button class="btn btn-44 btn-light text-danger shadow-sm">
                            <i class="bi bi-trash"></i>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1"><a routerLink="/profile" class="fw-medium">John Pattent</a>
                            <span class="text-muted">request send</span>
                        </p>
                        <p>150 <span class="text-muted">$</span> <small class="text-muted">5 min ago</small>
                        </p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-44 btn-light text-danger shadow-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1">
                            <a routerLink="/profile" class="fw-medium">Alice Doe</a>
                            <span class="text-muted">helped you</span>
                        </p>
                        <div class="row">
                            <div class="col">
                                <p>150 <span class="text-muted">$</span></p>
                            </div>
                            <div class="col-auto">
                                <div class="tag bg-success border-success text-white py-1 px-2">
                                    Completed
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
</div>