<!-- Search -->
<div class="form-group form-floating mb-3">
    <input type="text" class="form-control" id="search" placeholder="Search" (input)="onSearch($event)">
    <label class="form-control-label" for="search">Search User</label>
    <button type="button" class="text-color-theme tooltip-btn">
        <i class="bi bi-search"></i>
    </button>
</div>

<!-- chat user list -->
<div class="row">
    <div class="col-12 px-0">
        <div *ngIf="loading$ | async">Loading...</div>

        <div *ngIf="error$ | async as error" class="text-danger">
            {{ error }}
        </div>
    </div>
    <div class="col-12 px-0">
        <div class="list-group rounded-0 bg-none">
            <a class="list-group-item" *ngFor="let promoter of filteredPromoters$ | async"
                [routerLink]="['/messages', promoter.id]">
                <div class="row">

                    <!-- Avatar -->
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img [src]="promoter.image ? promoter.imageUrl : 'assets/img/user1.jpg'" alt="">
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">
                            {{ promoter.name }}
                            <span class="float-end small text-muted"></span>
                        </p>

                        <p class="small text-muted">
                            <i class="bi bi-check-all text-primary"></i>
                            Sub Promoter {{ promoter.mobile }}
                        </p>
                    </div>

                </div>
            </a>

        </div>

    </div>
</div>