<!-- Search -->
<div class="form-group form-floating mb-3">
    <input type="text" class="form-control" id="search" placeholder="Search" (input)="onSearch($event)">
    <label class="form-control-label" for="search">Search User</label>
    <button type="button" class="text-color-theme tooltip-btn">
        <i class="bi bi-search"></i>
    </button>
</div>

<!-- chat user list -->
<div class="row">
    <div class="col-12 px-0">
        <div *ngIf="loading$ | async">Loading...</div>

        <div *ngIf="error$ | async as error" class="text-danger">
            {{ error }}
        </div>
    </div>
    <div class="col-12 px-0">
        <div class="list-group rounded-0 bg-none">
            <div class="list-group-item" *ngFor="let promoter of filteredPromoters$ | async">

                <div class="row">

                    <!-- Avatar -->
                    <div class="col-auto">
                        <div class="avatar avatar-50 coverimg rounded-10">
                            <img [src]="promoter.image ? promoter.imageUrl : 'assets/img/user1.jpg'" alt="">
                        </div>
                    </div>

                    <!-- Info -->
                    <div class="col align-self-center ps-0">
                        <p class="mb-1">
                            {{ promoter.name }} ({{ promoter.mobile }})
                            <span class="float-end small text-muted"></span>
                        </p>

                        <p class="small text-muted">
                            <i class="bi bi-check-all text-primary"></i>
                            Sub Promoter <a [routerLink]="['/sub-promoter-profile', promoter.id,promoter.name]"
                                class=" text-primary">View</a>
                        </p>
                    </div>
                    <div class="col-auto align-self-center d-flex gap-2">
                        <button type="button" class="float-end small btn btn-success text-light"
                            (click)="openAddModal(promoter)">
                            +
                        </button>
                        <button type="button" class="float-end small btn btn-danger text-light"
                            (click)="openDeductModal(promoter)">
                            -
                        </button>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>

<!-- ADD BALANCE MODAL -->
<div class="modal fade" id="addBalanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add Balance</h5>
                <button type="button" class="btn-close" (click)="closeAddModal()"></button>
            </div>

            <div class="modal-body" *ngIf="selectedPromoter">

                <p><strong>Name:</strong> {{ selectedPromoter.name }}</p>
                <p><strong>Mobile:</strong> {{ selectedPromoter.mobile }}</p>

                <form [formGroup]="addBalanceForm">

                    <input type="number" class="form-control" placeholder="Enter amount" formControlName="amount" />

                    <div *ngIf="addBalanceForm.get('amount') as amountCtrl">

                        <div *ngIf="amountCtrl.touched && amountCtrl.invalid" class="text-danger mt-1">
                            Valid amount required
                        </div>

                        <div *ngIf="amountCtrl.errors?.exceedsCredit" class="text-danger">
                            Cannot enter more than {{ creditValue }}
                        </div>

                    </div>

                </form>

            </div>

            <div *ngIf="addSuccess" class="alert alert-success m-3">
                {{ addSuccess }}
            </div>

            <div *ngIf="addError" class="alert alert-danger m-3">
                {{ addError }}
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="closeAddModal()">
                    Cancel
                </button>

                <button class="btn btn-primary" [disabled]="addBalanceForm.invalid || addLoading"
                    (click)="submitAddBalance()">
                    {{ addLoading ? 'Submitting...' : 'Submit' }}
                </button>
            </div>

        </div>
    </div>
</div>



<!-- DEDUCT BALANCE MODAL -->
<div class="modal fade" id="deductBalanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Deduct Balance</h5>
                <button type="button" class="btn-close" (click)="closeDeductModal()"></button>
            </div>

            <div class="modal-body" *ngIf="selectedPromoter">

                <p><strong>Name:</strong> {{ selectedPromoter.name }}</p>
                <p><strong>Mobile:</strong> {{ selectedPromoter.mobile }}</p>

                <form [formGroup]="deductBalanceForm">

                    <input type="number" class="form-control" placeholder="Enter amount" formControlName="amount" />

                    <div *ngIf="deductBalanceForm.get('amount') as amountCtrl">

                        <div *ngIf="amountCtrl.touched && amountCtrl.invalid" class="text-danger mt-1">
                            Valid amount required
                        </div>

                    </div>

                </form>

            </div>

            <div *ngIf="deductSuccess" class="alert alert-success m-3">
                {{ deductSuccess }}
            </div>

            <div *ngIf="deductError" class="alert alert-danger m-3">
                {{ deductError }}
            </div>

            <div class="modal-footer">

                <button class="btn btn-secondary" (click)="closeDeductModal()">
                    Cancel
                </button>

                <button class="btn btn-danger" [disabled]="deductBalanceForm.invalid || deductLoading"
                    (click)="submitDeductBalance()">
                    {{ deductLoading ? 'Submitting...' : 'Submit' }}
                </button>

            </div>

        </div>
    </div>
</div>