<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <div class="row h-100 overflow-auto">
        <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center text-center p-0">

            <h1 class="mb-4 text-color-theme">
                Reset Password
            </h1>

            <div *ngIf="showToast"
                class="toast show position-fixed bottom-0 start-50 translate-middle-x mb-4 bg-dark text-white border-0"
                role="alert" style="z-index: 9999;">
                <div class="d-flex">

                    <div class="toast-body">
                        {{ message }}
                    </div>

                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                        (click)="showToast = false"></button>

                </div>
            </div>

            <p class="text-muted mb-4">
                Please create unique password for account includes at-least
                1 capital latter & 1 special character sign
            </p>

            <div class="form-group form-floating mb-3">

                <input type="text" class="form-control" id="otp" placeholder="Enter OTP" formControlName="otp">

                <label for="otp">
                    Enter OTP
                </label>

            </div>

            <div class="text-danger text-start mb-3" *ngIf="
                    resetForm.get('otp')?.touched &&
                    resetForm.get('otp')?.invalid
                ">
                OTP is required
            </div>

            <!-- New Password -->

            <div class="form-group form-floating mb-3">

                <input type="password" class="form-control" id="newpass" placeholder="New Password"
                    formControlName="newPassword">

                <label for="newpass">
                    New Password
                </label>

            </div>



            <!-- Confirm Password -->

            <div class="form-group form-floating mb-3 position-relative">

                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="password"
                    placeholder="Confirm Password" formControlName="confirmPassword">

                <label for="password">
                    Confirm New Password
                </label>

                <!-- Eye Icon -->

                <span class="position-absolute top-50 end-0 translate-middle-y pe-3"
                    style="cursor:pointer; z-index: 10;" (click)="toggleConfirmPassword()">
                    <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>

            </div>

            <!-- Update Button -->

            <button type="submit" class="btn btn-lg btn-default w-100 shadow" [disabled]="resetForm.invalid">
                Update
            </button>

            <div class="text-danger text-start my-3" *ngIf="
                                resetForm.get('newPassword')?.touched &&
                                resetForm.get('newPassword')?.invalid
                            ">
                Password must contain:

                • One Capital Letter

                • One Special Symbol

                • Minimum 8 Characters
            </div>

        </div>
    </div>

</form>