<div class="text-danger" *ngIf="(error$ | async)">
    <p>{{ (error$ | async) }}</p>
</div>


<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <!-- profile information -->
    <div class="row mb-3">
        <div class="col">
            <h6>Change Password</h6>
        </div>
    </div>

    <div class="row h-100 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile" readonly>
                <label>Mobile</label>
            </div>
        </div>
    </div>

    <!-- <div class="text-success my-2 py-2" *ngIf="(message$ | async)">
        <p>{{ (message$ | async) }}</p>
    </div> -->

    <div class="row h-100">
        <div class="col-12 mb-4">
            <button type="submit" class="btn btn-default btn-lg w-100"
                [disabled]="this.profileForm.invalid || isSubmitted == true">
                {{ isSubmitted == true ? "Loading..." : "Send Otp"}}
            </button>
        </div>
    </div>

</form>