<!-- user information -->
<div class="card shadow-sm mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-60 rounded-10">
                    <img src="assets/img/user1.jpg" alt="">
                </figure>
            </div>
            <div class="col px-0 align-self-center">
                <h3 class="mb-0 text-color-theme">{{username$ | async}}</h3>
                <p class="text-muted ">{{mobile$ | async}}</p>
            </div>
        </div>
    </div>

</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <!-- profile information -->
    <div class="row mb-3">
        <div class="col">
            <h6>Basic Information</h6>
        </div>
    </div>

    <div class="row h-100 mb-4">

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                <label>Name</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
                <label>Mobile</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <label>Email</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating">
                <input type="file" class="form-control" (change)="onFileChange($event)">
                <label>Image</label>
            </div>
        </div>
    </div>

    <!-- change password -->
    <!-- <div class="row mb-3">
        <div class="col">
            <h6>Change Password</h6>
        </div>
    </div>

    <div class="row h-100 mb-4">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <label>Password</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-floating">
                <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="Confirm Password">
                <label>Confirm Password</label>
            </div>
        </div>
    </div> -->

    <div class="row h-100">
        <div class="col-12 mb-4">
            <button type="submit" class="btn btn-default btn-lg w-100">
                Update
            </button>
        </div>
    </div>

</form>