<!-- user information -->
<div class="card shadow-sm mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-60 rounded-10">
                    <img [src]="(auth$|async)?.image ? (auth$|async)?.photoUrl : 'assets/img/user1.jpg'" alt="">
                </figure>
            </div>
            <div class="col px-0 align-self-center">
                <h3 class="mb-0 text-color-theme">{{username$ | async}}</h3>
                <p class="text-muted ">{{mobile$ | async}}</p>
            </div>
        </div>
    </div>

</div>

<div class="text-danger" *ngIf="(error$ | async)">
    <p>{{ (error$ | async) }}</p>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <!-- profile information -->
    <div class="row mb-3">
        <div class="col">
            <h6>Basic Information</h6>
        </div>
    </div>

    <div class="row h-100 mb-4">

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                <label>Name</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
                <label>Mobile</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <label>Email</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group form-floating">
                <input type="file" class="form-control" (change)="onFileChange($event)">
                <label>Image</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mt-3" *ngIf="previewUrl">
            <img [src]="previewUrl || 'assets/default-user.png'" alt="Image Preview" class="img-fluid rounded border"
                style="max-height: 200px;">
        </div>
    </div>


    <div class="row h-100">
        <div class="col-12 mb-4">
            <button type="submit" class="btn btn-default btn-lg w-100"
                [disabled]="this.profileForm.invalid || (loading$ | async)">
                {{ (loading$ | async) ? "Loading..." : "Update"}}
            </button>
        </div>
    </div>

</form>