<div class="row">
    <div class="col-12 col-md-6" *ngIf="loading$ | async">
        <h6>Loading...</h6>
    </div>
    <div class="col-12 col-md-6" *ngIf="error$ | async">
        <h6>{{error$ | async}}</h6>
    </div>
    <!-- <div *ngIf="(tickets$ | async)?.length === 0">
        <p class="text-center text-muted">No tickets available</p>
    </div> -->
    <div class="col-12" *ngFor="let ticket of tickets$ | async ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/icons.png" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 fw-medium">{{ ticket.title }}</p>
                        <p class="mb-0"><span class="text-muted">Avl Ticket : {{getAvailableTickets(ticket)}}</span></p>
                        <p class="mb-0">₹ <del>{{ticket.mrp}}</del> {{ticket.rate}} <small class="text-muted"></small>
                        </p>
                    </div>
                    <div class="col-auto">
                        <a [routerLink]="['/addticket',ticket.id]" class="btn btn-44 text-danger">
                            <i class="bi bi-plus-circle-fill fs-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>