<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/customer/home" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-house"></i>
                    <span class="nav-text">Home</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/customer/my-orders" routerLinkActive="active">
                <span>
                    <i class="nav-icon bi bi-newspaper"></i>
                    <span class="nav-text">My Orders</span>
                </span>
            </a>
        </li>
    </ul>
</div>
